/********** Large devices only **********/
@media (min-width: 992px) {

  .Desktop-4{
    float: left;
    border: 1px; 
    margin-bottom: 10px;
  }
    .Desktop-4 {
      width: 33.33%;
    }
}  
/********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .Tablet-6{
      float: left;
      border: 1px;
      margin-bottom: 10px;
    }
    .Tablet-6{
      width: 50%;
    }
}
/********** Small devices only **********/  
@media (max-width: 767px){
  .cellphone-12{float: left;
    border: 1px;
    margin-bottom: 10px;
  }
      .cellphone-12 {
        width: 100%;
      }
      
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
}


h1{
  text-align: center;
  margin-bottom:  50px;
}

p {
  border: 1px solid black;
  background-color: #7a7a7a;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left:  auto;
  font-family: Helvetica;
  color: black;
  
}

#p1{
  border: 1px solid black;
  background-color: pink;
  color: yellow;
}
#p2{
  border: 1px solid black;
  background-color: blue;
  color: green;

}
#p3{
  border: 1px solid black;
  background-color: darkblue;
  color: red;

}