*{
  box-sizing: border-box;
}
h1{
  text-align: center;
  margin: 30px;
}

#Container{
  width: 100%;
}

.menu{
    background-color: #AFAEA8 ;
    border: 1px solid black;
    margin: 15px;
}

h2{
    float: right;
    width: 150px;
    text-align: center;
    margin: 0;
    padding: 7px 0 7px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

p{
    clear: right;
    padding: 10px;
}
#menu1 {
	background-color: #ffaadc;
	color: #5D0646;
}
#menu2 {
	background-color: #19eb5f;
	color: #0b3d1c;
}
#menu3 {
	background-color: #ffea2d;
	color: #7e4601;
}

@media (min-width: 992px) {
	.col-desk {
		float: left;
		width: 33.33%;

		}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-cell {
		float: left;
		width: 50%;
	}
	#conteiner3 {
		width: 100%;
	}
}